* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #efefef;
  font-family: 'Cairo', sans-serif;
  font-size: 16px; }

ul, ol {
  list-style: none;
  padding: 0; }

.Header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  /* Nav*/
  /*End Nav*/
  /*text*/ }
  .Header nav {
    background: #025655;
    opacity: 0.9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 70px;
    padding: 0 100px; }
  .Header nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: cursive; }
  .Header nav .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: cursive;
    text-decoration: none; }
  .Header nav .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 15px; }
  .Header nav .nav-items li {
    list-style: none;
    padding: 0 15px; }
  .Header nav .nav-items li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none; }
  .Header .on {
    border-bottom: 2px solid #fff; }
  .Header nav form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    padding: 2px;
    background: #fff;
    min-width: 18% !important;
    border-radius: 2px;
    border: 1px solid rgba(155, 155, 155, 0.2); }
  .Header nav form .search-data {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #025655;
    font-size: 15px;
    border: none;
    outline: none;
    font-weight: 500;
    background: none; }
    .Header nav form .search-data:active {
      border: none;
      outline: none; }
    .Header nav form .search-data:hover {
      border: none;
      outline: none; }
  .Header nav form button {
    padding: 0 15px;
    color: #025655;
    font-size: 17px;
    background: transparent;
    border: none;
    border-radius: 2px;
    cursor: pointer; }
  .Header nav form button:hover {
    background: #025655;
    color: #fff; }
  .Header nav .menu-icon,
  .Header nav .cancel-icon,
  .Header nav .search-icon {
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none; }
  .Header nav .menu-icon span,
  .Header nav .cancel-icon,
  .Header nav .search-icon {
    display: none; }
  @media (max-width: 1245px) {
    .Header nav {
      padding: 0 50px; } }
  @media (max-width: 1146px) {
    .Header {
      direction: ltr; }
      .Header nav {
        padding: 0px; }
      .Header nav .logo {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
        text-align: center; }
      .Header nav .nav-items {
        position: fixed;
        z-index: 99 !important;
        top: 70px;
        width: 100%;
        left: -100%;
        height: 100vh;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: #14181f;
        display: inline-block;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        transition: left 0.3s ease; }
      .Header nav .nav-items.active {
        left: 0px; }
      .Header nav .nav-items li {
        line-height: 40px;
        margin: 30px 0; }
      .Header nav .nav-items li a {
        font-size: 20px; }
      .Header nav form {
        position: absolute;
        top: 80px;
        right: 50px;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: top 0.3s ease, opacity 0.1s ease;
        -o-transition: top 0.3s ease, opacity 0.1s ease;
        transition: top 0.3s ease, opacity 0.1s ease; }
      .Header nav form.active {
        top: 95px;
        opacity: 1;
        pointer-events: auto; }
      .Header nav form:before {
        position: absolute;
        content: "";
        top: -13px;
        right: 0px;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: #1e232b;
        margin: -20px 0 0; }
      .Header nav form:after {
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: #1e232b;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .Header nav .menu-icon {
        display: block; }
      .Header nav .search-icon,
      .Header nav .menu-icon span {
        display: block; }
      .Header nav .menu-icon span.hide,
      .Header nav .search-icon.hide {
        display: none; }
      .Header nav .cancel-icon.show {
        display: block; } }
  .Header .content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .Header .content header {
    font-size: 30px;
    font-weight: 700; }
  .Header .content .text {
    font-size: 30px;
    font-weight: 700; }
  .Header .space {
    margin: 10px 0; }
  .Header nav .logo.space {
    color: #025655;
    padding: 0 5px 0 0; }
  @media (max-width: 980px) {
    .Header nav .menu-icon,
    .Header nav .cancel-icon,
    .Header nav .search-icon {
      margin: 0 20px; }
    .Header nav form {
      right: 30px; } }
  @media (max-width: 350px) {
    .Header nav .menu-icon,
    .Header nav .cancel-icon,
    .Header nav .search-icon {
      margin: 0 10px;
      font-size: 16px; } }
  .Header .header_text {
    text-align: center;
    width: 90%;
    margin: 40px auto;
    margin-top: 200px; }
    .Header .header_text p:nth-child(1) {
      color: #025655;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 10px;
      width: 100%; }
      @media (min-width: 450px) {
        .Header .header_text p:nth-child(1) {
          font-size: 40px; } }
    .Header .header_text p:nth-child(2) {
      color: #025655;
      font-size: 20px;
      font-weight: 600;
      width: 100%; }

.trips .trips_title {
  text-align: center;
  width: 90%;
  margin: 40px auto; }
  .trips .trips_title p:nth-child(1) {
    color: #025655;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    width: 100%; }
    @media (max-width: 450px) {
      .trips .trips_title p:nth-child(1) {
        font-size: 30px; } }
  .trips .trips_title p:nth-child(2) {
    color: #025655;
    font-size: 20px;
    font-weight: 600;
    width: 100%; }

.trips .swiper-container {
  width: 100%;
  height: 240px;
  margin-bottom: 100px; }

.trips .swiper-slide {
  text-align: center;
  border-radius: 25px;
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: 5px 5px 5px 0px grey;
          box-shadow: 5px 5px 5px 0px grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .trips .swiper-slide p {
    background: #dedede;
    width: 100%;
    height: 40px;
    text-align: center;
    font-weight: 500;
    color: #000;
    border-radius: 100% 100% 22px 20px;
    padding-top: 10px; }

.ad {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 50px auto; }

.one_DayTrips {
  margin: 100px auto; }
  .one_DayTrips .trips_title {
    text-align: center;
    width: 90%;
    margin: 40px auto; }
    .one_DayTrips .trips_title p:nth-child(1) {
      color: #025655;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 10px;
      width: 100%; }
      @media (max-width: 450px) {
        .one_DayTrips .trips_title p:nth-child(1) {
          font-size: 30px; } }
    .one_DayTrips .trips_title p:nth-child(2) {
      color: #025655;
      font-size: 20px;
      font-weight: 600;
      width: 100%; }
  .one_DayTrips .contain {
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr); }
    @media (max-width: 1200px) {
      .one_DayTrips .contain {
        grid-template-columns: repeat(3, 1fr); } }
    @media (max-width: 992px) {
      .one_DayTrips .contain {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 767px) {
      .one_DayTrips .contain {
        grid-template-columns: repeat(1, 1fr); } }
    .one_DayTrips .contain .card {
      height: 350px;
      width: 275px;
      margin: auto;
      position: relative; }
      .one_DayTrips .contain .card svg {
        position: absolute;
        top: 100px; }
      .one_DayTrips .contain .card .top {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 45%;
        border-radius: 20px 20px 0 0; }
      .one_DayTrips .contain .card .botton {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        background-color: #fff;
        width: 100%;
        height: 55%;
        border-radius: 0 0 20px 20px;
        z-index: 5; }
        .one_DayTrips .contain .card .botton .info {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          width: 100%; }
          .one_DayTrips .contain .card .botton .info .right {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            width: 50%;
            height: 125px;
            margin-right: 15px; }
            .one_DayTrips .contain .card .botton .info .right .star {
              font-size: 15px;
              color: #f9eb21;
              cursor: pointer; }
            .one_DayTrips .contain .card .botton .info .right .company {
              width: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
                  -ms-flex-direction: row;
                      flex-direction: row; }
              .one_DayTrips .contain .card .botton .info .right .company p {
                width: 100%;
                color: #025655; }
              .one_DayTrips .contain .card .botton .info .right .company img {
                width: 15px;
                height: 15px;
                margin: auto 5px; }
            .one_DayTrips .contain .card .botton .info .right .price {
              width: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
                  -ms-flex-direction: row;
                      flex-direction: row; }
              .one_DayTrips .contain .card .botton .info .right .price p {
                width: 100%;
                color: #025655; }
              .one_DayTrips .contain .card .botton .info .right .price img {
                width: 15px;
                height: 15px;
                margin: auto 5px; }
          .one_DayTrips .contain .card .botton .info .left {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            width: 50%;
            height: 125px;
            margin-left: 15px; }
            .one_DayTrips .contain .card .botton .info .left .ic {
              margin: auto;
              text-align: center; }
              .one_DayTrips .contain .card .botton .info .left .ic p {
                color: #025655;
                width: 100%; }
              .one_DayTrips .contain .card .botton .info .left .ic img {
                width: 25px;
                height: 25px; }
            .one_DayTrips .contain .card .botton .info .left p {
              margin: auto;
              text-align: center;
              font-size: 20px !important;
              font-weight: 500; }

.Draw {
  width: 100%;
  height: 250px; }
  .Draw img {
    width: 100%;
    height: 100%; }

.Draw2 {
  width: 100%;
  height: 200px;
  direction: ltr; }

#Saffary {
  margin-bottom: 200px; }

.see_trips {
  position: relative; }
  .see_trips .trips_title {
    text-align: center;
    width: 90%;
    margin: 40px auto;
    margin-top: 0; }
    .see_trips .trips_title p:nth-child(1) {
      color: #025655;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 10px;
      width: 100%; }
      @media (max-width: 450px) {
        .see_trips .trips_title p:nth-child(1) {
          font-size: 30px; } }
    .see_trips .trips_title p:nth-child(2) {
      color: #025655;
      font-size: 20px;
      font-weight: 600;
      width: 100%; }
  .see_trips .contain2 {
    width: 95%;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr); }
    @media (max-width: 1300px) {
      .see_trips .contain2 {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 992px) {
      .see_trips .contain2 {
        grid-template-columns: repeat(1, 1fr); } }
    .see_trips .contain2 .card2 {
      height: 280px;
      width: 400px;
      margin: auto;
      background-color: #fff;
      border-radius: 20px;
      position: relative; }
      @media (max-width: 420px) {
        .see_trips .contain2 .card2 {
          width: 300px;
          height: 400px; } }
      .see_trips .contain2 .card2 svg {
        position: absolute;
        top: 110px; }
        @media (max-width: 420px) {
          .see_trips .contain2 .card2 svg {
            top: 140px; } }
      .see_trips .contain2 .card2 .top {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 50%;
        border-radius: 20px 20px 0 0; }
        @media (max-width: 420px) {
          .see_trips .contain2 .card2 .top {
            height: 170px; } }
      .see_trips .contain2 .card2 .class_height2 {
        height: 50%; }
      .see_trips .contain2 .card2 .botton {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        background-color: #fff;
        width: 100%;
        height: 50%;
        border-radius: 0 0 20px 20px;
        padding: 5px; }
        @media (max-width: 420px) {
          .see_trips .contain2 .card2 .botton {
            margin: auto;
            height: 180px; } }
        .see_trips .contain2 .card2 .botton .mainInfo {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
          @media (max-width: 420px) {
            .see_trips .contain2 .card2 .botton .mainInfo {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column; } }
          .see_trips .contain2 .card2 .botton .mainInfo p {
            width: 80%;
            font-size: 19px; }
            @media (max-width: 420px) {
              .see_trips .contain2 .card2 .botton .mainInfo p {
                width: 100%; } }
          .see_trips .contain2 .card2 .botton .mainInfo .star {
            font-size: 15px;
            color: #f9eb21;
            cursor: pointer;
            width: 30%; }
            @media (max-width: 420px) {
              .see_trips .contain2 .card2 .botton .mainInfo .star {
                width: 100%;
                margin-top: 10px;
                text-align: left; } }
        .see_trips .contain2 .card2 .botton .info2 {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
          @media (max-width: 420px) {
            .see_trips .contain2 .card2 .botton .info2 {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column; } }
          .see_trips .contain2 .card2 .botton .info2 .sec1 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            width: 50%; }
            @media (max-width: 420px) {
              .see_trips .contain2 .card2 .botton .info2 .sec1 {
                width: 100%;
                margin-bottom: 10px; } }
            .see_trips .contain2 .card2 .botton .info2 .sec1 p {
              width: 100%;
              color: #025655;
              font-size: 13px; }
              @media (max-width: 420px) {
                .see_trips .contain2 .card2 .botton .info2 .sec1 p {
                  font-size: 15px; } }
            .see_trips .contain2 .card2 .botton .info2 .sec1 img {
              width: 15px;
              height: 15px;
              margin: auto 5px; }
          .see_trips .contain2 .card2 .botton .info2 .sec2 {
            width: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row; }
            @media (max-width: 420px) {
              .see_trips .contain2 .card2 .botton .info2 .sec2 {
                width: 100%; } }
            .see_trips .contain2 .card2 .botton .info2 .sec2 p {
              width: 100%;
              color: #025655;
              font-size: 13px; }
              @media (max-width: 420px) {
                .see_trips .contain2 .card2 .botton .info2 .sec2 p {
                  font-size: 15px; } }
            .see_trips .contain2 .card2 .botton .info2 .sec2 img {
              width: 15px;
              height: 15px;
              margin: auto 5px; }
        .see_trips .contain2 .card2 .botton .price2 {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; }
          .see_trips .contain2 .card2 .botton .price2 p {
            width: 100%;
            color: #025655;
            font-size: 15px; }
          .see_trips .contain2 .card2 .botton .price2 span {
            width: 30%;
            color: #000;
            font-size: 18px;
            margin-right: 10px; }
          .see_trips .contain2 .card2 .botton .price2 img {
            width: 15px;
            height: 15px;
            margin: auto 5px; }
        @media (max-width: 420px) {
          .see_trips .contain2 .card2 .botton .class_height4 {
            margin-top: 10px; } }
        .see_trips .contain2 .card2 .botton .btn {
          width: 150px;
          padding: 10px 15px;
          text-align: left;
          margin: 0;
          position: absolute;
          top: 95px;
          left: 25px; }
          @media (max-width: 420px) {
            .see_trips .contain2 .card2 .botton .btn {
              top: 175px;
              left: 70px; } }
          .see_trips .contain2 .card2 .botton .btn img {
            right: 5px;
            top: 14px; }
        .see_trips .contain2 .card2 .botton .class_height5 {
          top: 120px; }
          @media (max-width: 420px) {
            .see_trips .contain2 .card2 .botton .class_height5 {
              top: 150px; } }
      .see_trips .contain2 .card2 .class_height3 {
        height: 50%;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        @media (max-width: 420px) {
          .see_trips .contain2 .card2 .class_height3 {
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start; } }
    .see_trips .contain2 .class_height {
      height: 350px; }
      @media (max-width: 420px) {
        .see_trips .contain2 .class_height {
          height: 400px; } }
  .see_trips .pagination {
    width: 300px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 30px auto 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .see_trips .pagination span {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin: 5px;
      border: 1px solid #025655;
      cursor: pointer; }
    .see_trips .pagination span:nth-child(1) {
      background-color: #025655; }

.btn {
  position: relative;
  width: 200px;
  background-color: #025655;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  margin: auto;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn:hover {
    background-color: #013839; }
  .btn img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 19px;
    right: 20px; }

.btn2 {
  outline: none;
  border: none;
  width: 120px;
  height: 40px;
  background-color: #16292a;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  margin: 10px 10px 10px 0; }
  .btn2:hover {
    background-color: #013839; }
  .btn2 a {
    width: 100%;
    color: #fff;
    font-size: 15px;
    text-decoration: none; }

.btn3 {
  outline: none;
  border: none;
  width: 120px;
  height: 50px;
  background-color: #447e7f;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  text-align: center; }
  .btn3:hover {
    background-color: #013839; }
  @media (max-width: 767px) {
    .btn3 {
      margin: 10px auto 0 auto;
      width: 70%; } }
  @media (max-width: 450px) {
    .btn3 {
      height: 35px; } }

.footer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 50px 0 20px 0;
  position: relative; }
  @media (max-width: 767px) {
    .footer {
      padding-top: 100px; } }
  .footer .out_div {
    position: absolute;
    top: -80px;
    left: 10%;
    height: 150px;
    width: 80%;
    background-color: #efefef;
    -webkit-box-shadow: 2px 2px 10px 2px grey;
            box-shadow: 2px 2px 10px 2px grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 100px 10px 70px 100px; }
    @media (max-width: 992px) {
      .footer .out_div {
        border-radius: 50px; } }
    @media (max-width: 767px) {
      .footer .out_div {
        height: 200px; } }
    @media (max-width: 567px) {
      .footer .out_div {
        width: 90%;
        top: -90px;
        left: 5%; } }
    .footer .out_div .telegram {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 150px; }
      @media (max-width: 992px) {
        .footer .out_div .telegram {
          top: 12px;
          left: 10px;
          width: 125px; } }
      @media (max-width: 767px) {
        .footer .out_div .telegram {
          top: 50px;
          left: 15px;
          width: 100px; } }
      @media (max-width: 450px) {
        .footer .out_div .telegram {
          top: 70px;
          width: 75px; } }
      @media (max-width: 350px) {
        .footer .out_div .telegram {
          top: 77px;
          left: 5px;
          width: 65px; } }
    .footer .out_div p {
      width: 70%;
      margin: auto;
      text-align: center;
      color: #025655;
      font-size: 20px;
      font-weight: 700; }
      @media (max-width: 1100px) {
        .footer .out_div p {
          margin-right: 50px; } }
      @media (max-width: 992px) {
        .footer .out_div p {
          margin-right: 40px; } }
      @media (max-width: 567px) {
        .footer .out_div p {
          margin-right: 20px;
          width: 80%; } }
    .footer .out_div .ele {
      width: 70%;
      margin: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      @media (max-width: 1100px) {
        .footer .out_div .ele {
          margin-right: 50px; } }
      @media (max-width: 992px) {
        .footer .out_div .ele {
          margin-right: 40px; } }
      @media (max-width: 767px) {
        .footer .out_div .ele {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin: auto;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
      @media (max-width: 650px) {
        .footer .out_div .ele {
          margin: auto 10px; } }
      .footer .out_div .ele .phone {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: 50px;
        width: 400px;
        background-color: #656565;
        border-radius: 15px; }
        @media (max-width: 992px) {
          .footer .out_div .ele .phone {
            width: 275px; } }
        @media (max-width: 420px) {
          .footer .out_div .ele .phone {
            width: 200px;
            height: 40px; } }
        .footer .out_div .ele .phone input {
          background-color: #656565;
          outline: none;
          border: none;
          color: #a2a2a2;
          margin: auto 10px;
          padding: 5px;
          width: 80%;
          font-size: 18px;
          font-weight: 500;
          direction: ltr; }
          .footer .out_div .ele .phone input:focus {
            border-bottom: solid 1px #447e7f; }
        .footer .out_div .ele .phone img {
          width: 25px;
          height: 25px;
          margin: auto 10px; }
  .footer .container3 {
    width: 95%;
    margin: 5% 2.5% 0 2.5%;
    height: 95%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr); }
    @media (max-width: 992px) {
      .footer .container3 {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 767px) {
      .footer .container3 {
        grid-template-columns: repeat(1, 1fr); } }
    .footer .container3 .paert_one {
      width: 100%;
      height: 100%;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      @media (max-width: 767px) {
        .footer .container3 .paert_one {
          margin: auto;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 75%; } }
      .footer .container3 .paert_one .title {
        width: 100%;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        color: #fff;
        margin: 15px auto;
        font-family: cursive; }
      .footer .container3 .paert_one .txt {
        text-align: right;
        width: 90%;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 500;
        color: #fff;
        border-bottom: #fff solid 3px;
        padding-bottom: 20px; }
      .footer .container3 .paert_one .icon {
        width: 100%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin: 15px auto; }
        .footer .container3 .paert_one .icon img {
          width: 30px;
          height: 30px;
          cursor: pointer;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          .footer .container3 .paert_one .icon img:hover {
            -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                    transform: scale(1.1); }
    .footer .container3 .paert_two {
      width: 100%;
      height: 100%;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start; }
      .footer .container3 .paert_two .title_txt {
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        color: #fff;
        margin: 15px auto; }
      .footer .container3 .paert_two .main {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        @media (max-width: 767px) {
          .footer .container3 .paert_two .main {
            width: auto; } }
        .footer .container3 .paert_two .main .right {
          width: 49%;
          text-align: right;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .footer .container3 .paert_two .main .right p {
            color: #fff;
            font-size: 20px;
            width: 100%;
            margin: 10px auto; }
          .footer .container3 .paert_two .main .right .border {
            border-left: #fff solid 1px;
            margin: auto -5px; }
          .footer .container3 .paert_two .main .right .contain {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between; }
            .footer .container3 .paert_two .main .right .contain .tr {
              width: 50%; }
              .footer .container3 .paert_two .main .right .contain .tr p {
                width: 100%;
                color: #fff;
                text-align: right;
                font-size: 13px; }
    .footer .container3 .paert_three {
      width: 100%;
      height: 50%;
      margin: auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      @media (max-width: 992px) {
        .footer .container3 .paert_three {
          height: 100%;
          grid-column: 1 / span 2; } }
      @media (max-width: 767px) {
        .footer .container3 .paert_three {
          grid-column: 1 / span 1; } }

.bottonFooter {
  width: 100%;
  height: 35px;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    .bottonFooter {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .bottonFooter p {
    width: 50%;
    color: #000;
    font-size: 18px;
    text-align: center;
    font-weight: 500; }
    @media (max-width: 767px) {
      .bottonFooter p {
        width: 100%; } }
